<%- include('../layouts/header') %> 
<div class="p-4 dashb-header">
    <h2 class="text-center book-header">My Books</h2><hr class="hr-underline">
</div>

<div class="main-home">    
    <div class="row">
        <% book.forEach(book => { %>
            <div class="col-md-6 col-12 mt-2">
            <div class="book">
                <div class="row">
                    <div class="col-sm-5 mt-2 mb-1">
                        <center>
                            <img class="img-fluid book-img" src="<%= book.coverImagePath %>">
                        </center>
                    </div>
                    <div class="col-sm-7 mt-2">
                        <p class="h3 book-title"><%= book.title %></p>
                        <p class="h3 book-head text-secondary"><%= book.name %></p>
                        <p class="small text-muted"><%= book.createdAt.toLocaleDateString() %></p>
                        <p><span class="book-head">Genre: </span><%= book.genre %></p>
                        <p><span class="book-head">Price: </span>Rs.<%= book.price %> </p>
                        <p>
                            <span class="book-head">Description: </span><br>
                            <span class="book-description"><%= book.description %></span>
                        </p>
                    </div>
                </div>
                <center class="crud-btns">
                    <a href="/books/edit/<%= book.id %>" class="btn btn-primary m-1">
                        <img src="https://img.icons8.com/material-rounded/24/000000/edit.png"/>
                    </a>
                    <a class="btn btn-success d-inlinem-2" href='/books/read/<%= book.id %> '>
                        <img src="https://img.icons8.com/material-rounded/26/000000/read.png"/>
                        <!-- <img src="https://img.icons8.com/ios-filled/24/000000/read.png"/> -->
                    </a>
                    <form action="/books/<%= book.id %>?_method=DELETE" method="POST" class="d-inline m-1">
                        <button class="btn btn-danger" type="submit">
                            <img src="https://img.icons8.com/metro/24/000000/trash.png"/>
                        </button>
                    </form>
                </center>
            </div>
            <!-- <hr> -->
            </div>
        <% }) %> 
    </div>
</div>
<%- include('../layouts/footer') %> 
